.wraper {
    min-height: 100vh;
}

.grid-area {
    display: grid;
    place-content: center;
}

.card {
    width: 400px;
    background: radial-gradient(farthest-corner at 50% 0px, var(--clr-blue), var(--clr-vd-blue));
    padding: 2.25em;
    gap: 1.9375em;

    border-radius: 1em;

    line-height: 1.5;
}
.card h1,
.thank_you-card h2 {
    color: var(--clr-white);
    margin-bottom: .25em;
}

.buttons {
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
}

.btn-rating {
    border: none;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--clr-blue);
    color: var(--clr-mid-grey);
    
    display: grid;
    place-content: center;
}

.btn-rating.selected {
    background-color: var(--clr-orange);
    color: var(--clr-white);
}

.rating:hover {
    background-color: var(--clr-light-gray);
    color: var(--clr-white);
    cursor: pointer;
}

.btn-submit {
    border: none;
    background-color: var(--clr-orange);
    color: var(--clr-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1.125em;
    border-radius: 100vw;
}

.btn-submit:hover {
    background-color: var(--clr-white);
    color: var(--clr-orange);
    cursor: pointer;
}

.thank_you-card {
    place-items: center;
    text-align: center;

    padding: 1em 2.25em;
}

.selected-rating {
    color: var(--clr-orange-soft);
    background-color: var(--clr-blue);
    padding: .75em 1.25em;
    border-radius: 100vw;

    line-height: 1;
}
