:root {
    --clr-orange: hsl(25, 97%, 53%);
    --clr-orange-soft: hsla(25, 97%, 63%, .7);
    --clr-white: hsl(0, 0%, 100%);
    --clr-light-gray: hsl(217, 12%, 63%);
    --clr-mid-gray: hsl(216, 12%, 54%);
    --clr-blue: hsl(213, 19%, 18%);
    --clr-vd-blue: hsl(216, 12%, 8%);

    --fw-regular: 400;
    --fw-bold: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Overpass', sans-serif;
    font-size: .9375rem;
    font-weight: var(--fw-regular);
    background-color: var(--clr-vd-blue);
    color: var(--clr-light-gray);
}